doctype 5
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/vendor/zenburn.css")
  body
    include ../includes/header
    block defaultContent
    include ../includes/footer
    script(src="/js/vendor/highlight.pack.js")
    script(src="/js/scripts.js")
