doctype 5
html

  head
    meta(charset="utf-8")
    title= title
    meta(name="description", content="A site about web application development and interactive technologies, especially those that can be applied to the Web or be programmed with JavaScript.")
    meta(name="author", content="Bill Fisher")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/vendor/zenburn.css")

  body(class= bodyClass) <!-- body class is the h1, hyphenated with all non-alphanumeric characters removed -->
    include ../includes/header
    block defaultContent
    include ../includes/footer
    script(src="/js/vendor/highlight.pack.js")
    script(src="/js/scripts.js")
