html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/vendor/zenburn.css")
  body
    include ../includes/header
    block defaultContent
    include ../includes/footer
    script(src="/js/vendor/highlight.pack.js")
    script(src="/js/scripts.js")
