body {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

header, .content, footer {
    max-width: 60em;
    margin: 0 auto;
}

#brand {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.07em;
}

h1, h2 {
    letter-spacing: -0.05em;
}

nav {
    overflow: hidden;
}

nav a {
    float: left;
    padding: 1em 1em 1em 0;
}

.content p {
    line-height: 1.4em;
    margin-bottom: 1.4em;
}

pre {
    background: #3F3F3F;
    overflow-x: scroll;
}

code {
    margin: 0.5em 0.5em 0.7em;
    display: block;
}
