body {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

header, .content, footer {
    max-width: 60em;
    margin: 0 auto;
}

#brand {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.07em;
}

h1, h2 {
    letter-spacing: -0.05em;
}

nav {
    overflow: hidden;
    border-top: 7px solid #000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
    height: 2.5em;
    padding-right: 1em;
}

nav li a {
    display: block;
    padding: 6px 0 7px;
    color: #000;
    text-decoration: none;
}

nav .underlined {
    border-bottom: 1px solid black;
}

.content p {
    line-height: 1.4em;
    margin-bottom: 1.4em;
}

pre {
    background: #3F3F3F;
    overflow-x: scroll;
}

code {
    margin: 0.5em 0.5em 0.7em;
    display: block;
}


