body {
    font-family: arial, sans-serif;
}
.content {
    max-width: 60em;
    margin: 0 auto;
}
.content p {
    line-height: 1.4em;
    margin-bottom: 1.4em;
}

pre {
    background: #3F3F3F;
    overflow-x: scroll;
}

code {
    margin: 0.5em 0.5em 0.7em;
    display: block;
}
